@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css);
.font-iropke-batang,
.font-iropke-batang * {
    font-family: 'Iropke Batang', sans-serif;
    font-weight: 400 !important;
}

.font-hanna,
.font-hanna * {
    font-family: 'hanna', sans-serif;
    font-weight: 400 !important;
}

@media screen {
    /* #21232a */
    /* #00b0f0 */
    /* #dde7ed */
    * {
        margin: 0px;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    a,
    abbr,
    acronym,
    address,
    applet,
    b,
    big,
    blockquote,
    body,
    button,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    dfn,
    div,
    dl,
    dt,
    em,
    fieldset,
    font,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    html,
    i,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    nav,
    object,
    ol,
    p,
    pre,
    q,
    s,
    samp,
    section,
    small,
    span,
    strike,
    strong,
    sub,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    title,
    tr,
    tt,
    u,
    ul,
    var {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: 0 0;
    }
    img {
        border: none;
    }
    textarea {
        resize: none;
    }
    html {
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    body * {
        overflow: hidden;
    }
    body {
        margin: 0px;
        /* padding: 60px 0 0 0; */
        height: 100%;
        width: 100%;
        /* font-family: 'Dosis', 'Noto Sans KR', sans-serif; */
        font-family: 'Spoqa Han Sans', sans-serif;
        /* font-family: 'Iropke Batang', sans-serif; */
        font-size: 16px;
        overflow-x: hidden;
        background-color: #ffffff;
    }
    .section {
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .background-fixed {
        background-attachment: fixed;
    }
    .background-black {
        background-color: #292929;
    }
    .background-yellow {
        background-color: #f9c00c;
    }
    .filter-gray::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #222222;
        opacity: .6;
    }
    .container {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
    }
    .text-header {
        font-weight: 700;
        font-size: 19px;
        color: #e0e0e0;
    }
    .text-big {
        font-size: 120px;
        font-weight: 700;
        line-height: .8em;
    }
    .text-small {
        font-size: 9px;
        font-weight: 700;
    }
    .text-title {
        font-weight: 700;
        font-size: 73px;
        line-height: normal;
    }
    .text-title-2 {
        letter-spacing: 0.1em;
        font-size: 53px;
        line-height: 1.2em;
        font-weight: 700;
    }
    .text-title-3 {
        letter-spacing: 0.1em;
        font-size: 44px;
        line-height: 1.2em;
        font-weight: 700;
    }
    .text-subtitle {
        font-weight: 700;
        font-size: 26px;
    }
    .text-subtitle-2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2em;
        letter-spacing: 0.05em;
    }
    .text-spacing-3 {
        letter-spacing: .65em;
    }
    .text-upper-dot {
        position: relative;
    }
    .text-upper-dot::before {
        width: 100%;
        height: auto;
        position: absolute;
        text-align: center;
        content: 'â—';
        font-size: 10px;
        left: 0;
        bottom: 100%;
        line-height: 8px;
    }
    .text-upper-dot-yellow::before {
        color: #f9c00c;
    }
    .text-li {
        width: auto;
        height: auto;
        position: relative;
        display: block;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 1em;
        padding-left: 24px;
        border-left: 4px solid #ffffff;
    }
    .text-left {
        text-align: left;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-justify {
        text-align: justify;
    }
    .color-white,
    .color-white::before,
    .color-white::after {
        color: #ffffff;
    }
    .color-yellow,
    .color-yellow::before,
    .color-yellow::after {
        color: #f9c00c;
    }
    .color-red,
    .color-red::before,
    .color-red::after {
        color: #E21C21;
    }
    .box-yellow {
        width: auto;
        height: auto;
        padding: 16px;
        border: 3px solid #f9c00c;
    }
    .box-yellow-fill {
        width: auto;
        height: auto;
        padding: 10px;
        background-color: #f9c00c;
        border-radius: 40px;
    }
    .box-black {
        width: auto;
        height: auto;
        padding: 16px;
        border: 3px solid #292929;
    }
    .box-black-fill {
        width: auto;
        height: auto;
        padding: 10px;
        background-color: #292929;
        border-radius: 40px;
    }
    .display-inline-block {
        display: inline-block;
    }
    .vertical-top {
        vertical-align: top;
    }
    .vertical-top>* {
        vertical-align: top;
    }
    .vertical-middle {
        vertical-align: middle;
    }
    .vertical-middle>* {
        vertical-align: middle;
    }
    .vertical-bottom {
        vertical-align: bottom;
    }
    .vertical-bottom>* {
        vertical-align: bottom;
    }
    .v-padding-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .v-padding-1 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
    .v-padding-2 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }
    .v-padding-3 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }
    .v-padding-4 {
        padding-top: 48px !important;
        padding-bottom: 32px !important;
    }
    .v-padding-5 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
    .background-bottom-right {
        background-size: auto;
        background-position: 100% 100%;
        background-repeat: no-repeat;
    }
    .floating{
        width: auto;
        height: auto;
        position: fixed;
        padding: 0;
        margin: 0;
        bottom: 20px;
        right: 20px;
    }
    .button-icon{
        width: auto;
        height: auto;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-decoration: transparent;
        display: inline-block;
    }
    .button-black {
        width: auto;
        height: auto;
        padding: 10px;
        cursor: pointer;
        background-color: #292929;
        color: #ffffff;
        border: none;
        text-decoration: transparent;
        display: inline-block;
    }
    .button-yellow {
        width: auto;
        height: auto;
        padding: 10px;
        cursor: pointer;
        background-color: #f9c00c;
        color: #292929;
        border: none;
        text-decoration: transparent;
        display: inline-block;
    }
    .button-round {
        border-radius: 4px;
    }
    .shadow {
        box-shadow: 5px 10px;
    }
    .partition {
        position: relative;
        padding: 15px;
        float: left;
    }
    .partition-1 {
        width: 8.3333%;
    }
    .partition-2 {
        width: 16.6666%;
    }
    .partition-3 {
        width: 24.9999%;
    }
    .partition-4 {
        width: 33.3332%;
    }
    .partition-5 {
        width: 41.6665%;
    }
    .partition-6 {
        width: 49.9998%;
    }
    .partition-7 {
        width: 58.3331%;
    }
    .partition-8 {
        width: 66.6664%;
    }
    .partition-9 {
        width: 74.9997%;
    }
    .partition-10 {
        width: 83.333%;
    }
    .partition-11 {
        width: 91.6663%;
    }
    .partition-12 {
        width: 100%;
    }
    .clearfix:before,
    .clearfix:after {
        display: block;
        content: '';
        clear: both;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 14px;
    }
    .section .space {
        padding: 5px 0;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .newline {
        display: none;
    }
    .partition {
        width: 100% !important;
        display: block;
        float: unset;
    }
    .desktopOnly {
        display: none !important;
    }
}

@media screen and (min-width: 640.1px) {
    .mobileOnly {
        display: none !important;
    }
}